<div class="float-left width-1/3">
  <ul class="list-none">
    {{#each this.model as |band|}}
  <li class="mb-3">
  <LinkTo @route="breweries.brewery" @model={{brewery.id}} class="ml-3 active:inline-block">
    {{band.name}}
    <span class="rr-pointer">
      {{fa-icon "angle-right"}}
    </span>
  </LinkTo>
  </li>
    {{/each}}
  </ul>
  <div class="rr-new-label">
{{#if this.isAddingBrewery}}
<Input
@type="text"
@value={{this.newBandName}}
class="rr-input"
placeholder="New band"
data-test-rr="new-band-input"
/>
<button
type="button"
class="rr-action-button"
{{on "click" this.saveBand}}>
Add
</button>
<button
class="rr-cancel-icon"
{{on "click" this.cancelAddBand}}>
{{fa-icon "times"}}
</button>
{{else}}
<label {{on "click" this.addBrewery}}>
{{fa-icon "plus"}}
<span class="ml1">Add new band</span>
</label>
{{/if}}
</div>
  </div>
  <div class="rr-main-panel">
  {{outlet}}
</div>